/* keep properties alphabetized */
/* setup */
* {
    box-sizing: border-box;
    text-decoration: none;
}
html {
    background-color: #ba9;
    font-size: 15vh;
}
div#container-page > main#main > article.article {
    border-color: blue;
    border-style: solid;
    border-width: .2vw;
}
div#container-page > main#main > ul#table-of-contents {
    color: red;
    list-style-type: none;
    text-align: right;
    width: 39.1%;
}
div#container-page > nav#nav-binary > a#hamburger-start {
    color: black;
    display: block; /* IE 10: flexbox item <a> defaults to 'display: inline'. */
}
div#container-page > nav#nav-binary > a.direction {
    color: black;
}
div#container-page > nav#nav-binary > a.direction:focus,
div#container-page > nav#nav-binary > a.direction:hover {
    background-color: tan;
}
div#container-page > ul#nav-menu {
    font-size: 0;
    padding-left: 0;
    padding-top: 1rem;
}
div#container-page > ul#nav-menu > a#hamburger-menu {
    font-size: 1rem;
}
div#container-page > ul#nav-menu > li {
    font-size: .5rem;
    list-style-type: none;
}
main {
    display: block; /* IE 10: <main> defaults to 'display: inline' */
}
/* keep selectors single and alphabetized */
/* Firefox needs all of the following */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    overflow-y: hidden;
}
div#container-page {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    order: 2;
    overflow-y: hidden;
}
div#container-page > main#main {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    order: 3;
    position: relative;
}
div#container-page > main#main > article.article {
    max-height: 100%;
    overflow-y: auto;
}
div#container-page > main#main > ul#table-of-contents {
    overflow-wrap: break-word;
    position: absolute;
    right: .32rem; /* allow space for vertical scrollbar */
    top: 0;
    word-break: break-all;
    word-wrap: break-word; /* IE 11, Opera mini */
    overflow-wrap: break-word;
}
div#container-page > nav#nav-binary {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: nowrap;
    order: 2;
}
div#container-page > nav#nav-binary > a.direction {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
}
div#container-page > ul#nav-menu {
/*  align-self: flex-start; / * with this, Chrome fails to allow a vertical scrollbar */
    flex-basis: auto;
    flex-shrink: 0;
    max-height: 100%;
    order: 1;
    overflow-x: visible;
/* To avoid complex cross-axis margin/padding, use 'overflow-y: scroll' */
    overflow-y: auto;
}
div#container-page > ul#nav-menu > a#hamburger-menu {
    display: block;
    z-index: 1;
}
div#header-page {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    order: 1;
}
