/* keep properties alphabetized */
/* reset */
* {
    box-sizing: border-box;
}
a {
    color: black; /* IE 11 */
    text-decoration: none;
}
html {
    background-color: #ba9;
    font-family: Times New Roman, serif;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
li {
    list-style-type: none; /* Firefox, Chrome, Opera, IE 11: inheritance odd */
}
main {
    display: block; /* IE 10: <main> defaults to 'display: inline' */
}
ul {
    list-style-type: none; /* Firefox, Chrome, Opera, IE 11: inheritance odd */
    padding-left: 0;
}
/* setup */
a#hamburger-menu {
    font-size: 1rem;
}
a#hamburger-start {
    display: block; /* IE 10: flexbox item <a> defaults to 'display: inline' */
}
article#article {
    border-color: blue;
    border-style: solid;
    border-width: .2vw;
}
html {
    font-size: 15vh;
}
nav#nav-binary > a.direction:focus,
nav#nav-binary > a.direction:hover {
    background-color: tan;
}
ul#nav-menu {
    font-size: 0;
    padding-top: 1rem;
}
ul#nav-menu > li {
    font-size: .5rem;
}
nav#TableOfContents {
    color: red;
}
/* keep selectors single and alphabetized */
/* Firefox needs all of the following */
a#hamburger-menu {
    display: block;
    z-index: 1;
}
article#article {
    max-height: 100%;
    overflow-y: auto;
    padding-right: .64rem; /* space for two vertical scrollbars */
    width: 100%; /* IE 10 */
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    overflow-y: hidden;
}
div#container-page {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1; /* IE 10: sometimes defaults to 0 */
    flex-wrap: nowrap;
    order: 2;
    overflow-y: hidden;
}
div#header-page {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0; /* Chrome, Opera */
    order: 1;
}
main#main {
    display: flex; /* Opera 36 (Windows XP) */
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1; /* IE 10: sometimes defaults to 0 */
    order: 3;
    position: relative;
}
nav#nav-binary {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: nowrap;
    order: 2;
}
nav#nav-binary > a.direction {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
}
/*  ul#nav-menu { align-self: flex-start } Chrome: prevents vertical scrollbar
*/
ul#nav-menu {
    flex-basis: auto;
    flex-shrink: 0;
    max-height: 100%;
    order: 1;
    overflow-x: visible;
/* To avoid complex cross-axis margin/padding, use 'overflow-y: scroll' */
    overflow-y: auto;
}
/*  nav#TableOfContents { hyphens: auto } 'word-break: break-all' prevents hyphens
*/
nav#TableOfContents {
    overflow-wrap: break-word;
    padding-right: .32rem; /* space for vertical scrollbar */
    position: absolute;
    right: .32rem; /* space for article's vertical scrollbar */
    text-align: right;
    top: 0;
    word-break: break-word; /* Chrome, Opera */
    word-break: break-all;
    word-wrap: break-word; /* IE 11, Opera mini */
}
